body {
  background: #f8f8f8;
	font-size: 100%;
	font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

.submit {
  background: rgb(51, 103, 214);
  color: white;
  border: 0px;
  padding: 8px 15px;
}

.component-block {
  margin: auto;
  padding: 20px;
  border: 1px solid #c7c7c7;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.standard-btn {
  background: rgb(51, 103, 214);
  color: #fff;
  font-weight: bolder;
  border: 0px;
  padding: 8px 20px;
  font-size: 90%;
}

.standard-btn:hover {
  cursor: pointer;
}

.component-main-row {
  width: 100%;
  min-height: 80px;
  display: inline-block;
}

.under-button-container {
  margin-top: 10px;
}

.main-row {
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

.input {
  padding: 6px 15px;
  width: 100%;
}

.input-container {
  width: 300px;
  padding: 10px;
  margin: auto;
}

.standard-select,
.standard-select option {
  padding: 8px 10px;
  width: 90%;
	background: #f8f8f8;
}

.full-select {
	min-height: 200px;
}

.submit-container {
  margin: auto;
  text-align: center;
}

.form-container {
  margin: auto;
}

.container {
  float: left;
  padding: 20px 0px;
  width: auto;
  text-align: center;
}

.picked-columns,
.columns,
.tables {
  width: 33%;
}

.columns-button-container {
  width: 90%;
  text-align: center;
  padding: 10px;
}

.table-header {
  margin-top: 30px;
  background: #1a73e8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.table-header h2 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  padding: 15px;
}

.main-row table td, .main-row table th {
  font-weight: 500;
  padding: 10px 15px;
  text-align: center;
  overflow: auto;
}

.table-block {
  background: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  flex: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 560px;
  transition: all ease .8s;
  flex-basis: auto;
  font-size: 120%;
	text-align: center;
}

h2{
	margin: 0;
}

.action-img{
	/*width: 25px;
	height: 25px;*/
	max-width: 100%;
}

td > div{
	width: 25px;
	height: 25px;
	float: left;
	padding: 5px;
}

td > div:hover{
	cursor: pointer;
	background: #e6e6e6;
}

.action-td{
  float: right;
}

#action-th{
	margin-right: 12px;
}

#showed_table{
  margin-top: 40px;
	margin-bottom: 160px;
}
