body {
  background: #f8f8f8;
	font-size: 100%;
	font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

.submit {
  background: rgb(51, 103, 214);
  color: white;
  border: 0px;
  padding: 8px 15px;
}

.component-block {
  margin: auto;
  padding: 20px;
  border: 1px solid #c7c7c7;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.modal {
  display: none;
  background: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#editTable{
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

#editTable td:not(.action-td) {
  border: 1px solid black;
  padding: 5px;
}

#editTable th {
  position: static!important;
  border: 0px;
}

#editTable .action-td{
  display: none;
}

.form-container {
  padding: 20px;
  width: 60%;
  margin: auto;
  padding-top: 60px;
}

.dialog {
  display: none;
  position: fixed;
  left: 0px;
  right: 0px;
  color: #000;
  margin: auto;
  background: #fff;
  border: 0;
  border-radius: 8px;
  bottom: 50%;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.24);
  overflow-y: hidden;
  padding: 0;
  top: 50%;
  z-index: 12;
  width: 60%;
}

.dialog-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: auto;
}

.top-container {
  align-items: flex-start;
  display: flex;
  min-height: 42px;
  text-align: center;
}

.title-container {
  display: flex;
  flex: 1;
  outline: none;
}

.title {
  padding-left: 20px;
  padding-right: 20px;
  flex: 1;
  font-size: 16px;
  line-height: 1;
  padding-bottom: 16px;
  padding-top: 16px;
  background: #1a73e8;
  color: #fff;
}

#editDialog{
  height: 220px;
}

.form-item {
  position: relative;
  min-height: 50px;
  margin-top: 15px;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.std-button, .submit {
  outline: none;
  border-radius: 4px;
  flex-shrink: 0;
  font-weight: 600;
  height: 32px;
  margin: 0;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: none;
  background: inherit;
  border: none;
  cursor: pointer;
}

.std-button {
  letter-spacing: 3px;
  color: rgb(117, 117, 117);
}

.submit-container {
  padding: 30px;
  max-width: 150px;
  margin: auto;
}

.submit {
  padding: 10px 16px 10px 16px;
  line-height: normal;
  height: auto;
  border: 1px solid rgb(218, 220, 224);
  color: #fff;
  background: #1a73e8;
  width: 100%;
  font-size: 15px;
}

.editUserButton, .editButton, .editScheduleButton, .cancel {
  font-size: 13.3px;
  width: auto;
}

.cancel {
  background: none;
  color: #1a73e8;
  margin-right: 20px;
}

.cancel:hover, .auth:hover {
  background-color: #f6f8fa;
}

input[type="text"], input[type="month"], input[type="password"], input[type="date"], input[type="email"], select {
  border: none;
  border-bottom: 1px solid rgb(224, 224, 224);
  outline: none;
  padding: 8px;
  padding-left: 0px;
  color: #000;
  font-size: 16px;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

label {
  position: relative;
  top: -52px;
  font-size: 14px;
}

label, input:not(.submit), select {
  width: 100%;
  line-height: normal;
  color: rgb(48, 48, 48);
  font-size: 15px;
}

input:focus~label, select:focus~label, label:active {
  color: #3367d6;
}

input:focus {
  border-bottom: 2px solid #3367d6;
}

table th {
  border-right: 1px solid #a1a1a1;
}

table {
  word-break: break-all;
  word-wrap: break-word;
}

.standard-btn {
  background: rgb(51, 103, 214);
  color: #fff;
  font-weight: bolder;
  border: 0px;
  padding: 8px 20px;
  font-size: 90%;
}

.standard-btn:hover {
  cursor: pointer;
}

.component-main-row {
  width: 100%;
  min-height: 80px;
  display: inline-block;
}

.under-button-container {
  margin-top: 10px;
}

.main-row {
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

.input {
  padding: 6px 15px;
  width: 100%;
}

.input-container {
  width: 300px;
  padding: 10px;
  margin: auto;
}

.standard-select,
.standard-select option {
  padding: 8px 10px;
  width: 90%;
	background: #f8f8f8;
}

.full-select {
	min-height: 200px;
}

.submit-container {
  margin: auto;
  text-align: center;
}

.form-container {
  margin: auto;
}

.container {
  float: left;
  padding: 20px 0px;
  width: auto;
  text-align: center;
}

.picked-columns,
.columns,
.tables {
  width: 33%;
}

.columns-button-container {
  width: 90%;
  text-align: center;
  padding: 10px;
}

.table-header {
  margin-top: 30px;
  background: #1a73e8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.table-header h2 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  padding: 15px;
}

.main-row table td, .main-row table th {
  font-weight: 500;
  padding: 10px 15px;
  text-align: center;
  overflow: auto;
}

.table-block {
  background: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  flex: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 560px;
  transition: all ease .8s;
  flex-basis: auto;
  font-size: 120%;
	text-align: center;
}

h2{
	margin: 0;
}

.action-img{
	/*width: 25px;
	height: 25px;*/
	max-width: 100%;
}

td > div{
	width: 25px;
	height: 25px;
	float: left;
	padding: 5px;
}

td > div:hover{
	cursor: pointer;
	background: #e6e6e6;
}

.action-td{
  float: right;
}

#action-th{
	margin-right: 12px;
}

#showed_table{
  margin-top: 40px;
	margin-bottom: 160px;
}
